*{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
body{
    background-color: #f6f8fc;
}
.content{
    width: 100vw;
    padding: 1rem;
    background-color: #fff;
}
a {
    text-decoration: none;
}
/* On screens that are 992px or more */
@media screen and (min-width: 962px) {
    .content{
        max-width: 962px;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem;
    }
}
